body {
	background-color: #d2b48c;
	margin-left: 20%;
	margin-right: 20%;
	border: 2px dotted black;
	padding: 10px 10px 10px 10px;
	font-family: segoe script;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.text {
    color: blue;
    font-size: middle;
}