@font-face {
  font-family: Pacifico;
  src: url("assets/fonts/Pacifico-Regular.ttf");
}

* {
  box-sizing: border-box;
  }

body {
  display: flex;	
  flex-direction: column;
  justify-content: space-between;
  background-color: #d2b48c;
  font-family: Pacifico;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
}

.nav :hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: blue;
  font-size: large;
  list-style: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

}